{{> navbar }}
<div class="container min-vh-100">
    <div class="container-cards  card-columns mt-4 ">
        <div class="card p-3">
            <img src="./images/angular.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Angular</h5>
                <p class="card-text">Es mi framework de JS favorito ninguno como este , su paradigma de Poo es muy
                    escalable aparte que utiliza ngrx es muy fascinante .</p>
            </div>
        </div>
        <div class="card p-3">
            <img src="./images/react.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">React</h5>
                <p class="card-text">Es mi librería de JS favorito su paradigma de Programación Funcional es bravaza y
                    con la incorporación de TS esta mucho mejor.</p>
            </div>
        </div>
        <div class="card p-3">
            <img src="./images/html5.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Html5</h5>
                <p class="card-text">HTML5 es la quinta revisión importante del lenguaje básico de la World Wide Web,
                    HTML. HTML5 especifica dos variantes de sintaxis para HTML.</p>
            </div>
        </div>

        <div class="card p-3">
            <img src="./images/js.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">JavaScript</h5>
                <p class="card-text">JavaScript es un lenguaje de programación interpretado, dialecto del estándar
                    ECMAScript. </p>
            </div>
        </div>
    </div>

</div>
{{> footer}}