{{> navbar }}
    <div class="container min-vh-100">
        <div class="jumbotron mt-3">
            <h1 class="display-4">Hola visitante !</h1>
            <p class="lead">Esta es una de mis primeras paginas desarrolladas en Nodejs a nivel básico</p>
            <hr class="my-4">
            <p>Soy desarrollador web junior , domino diversas tecnologías del front pero ahora planeo dominar el back con Nodejs</p>
            <a class="btn btn-primary btn-lg" href="./about" role="button">Ver más</a>
        </div>
    </div>
{{> footer}}