body {
    font-family: 'Lato', sans-serif;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}

.card-columns .card {
    width: 300px;
}